@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* menu bar below*/
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

 body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("resources/BlackB2.png");
  backdrop-filter: blur(0px);
  background-size: cover;
  background-attachment: fixed;
  
}



nav {
  padding: 5px 5%;
  display: flex;
  background: #000;
  justify-content: space-between;
  position: sticky;
  top: 0;
  overflow: hidden;
  align-items: center;
  z-index: 1;
  
}

nav .logo {
  display: flex;
  align-items: left;
  
}
nav .logo img {
  height: 50px;
  width: auto;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5%;
}
nav .logo h1 {
  font-size: 1.1rem;
  background: linear-gradient(to right, #54b9f3 0%, #f4f6f9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
}
nav .logo a{
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #ffffff;
    color: #000;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  margin: 7px auto;
}
.hamburger-active {
  transform: rotate(45deg);
}
/* 45 to make X */

.hamburger-active .line:nth-child(2) {
  width: 0px;
}



.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: fixed;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  height: 100vh;
  padding: 15% 0;
  background: rgb(0, 0, 0);
  z-index: 5;

}
.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: #ffffff;
    color: #000;
}
@media (max-width: 576px) {
  .hamburger {
    display: block;
  }  
  /* show the mobile version */
  nav ul {
    display: none;
  }
  /* hide the normal version */
}
/* Menubar on top*/

/* Photo Gallery */


.mySlides {display: none;}
img {
    vertical-align: middle;
 
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

  
/*photo gallery ends here*/
.idx-header p {
  font-size: 100px;
  color: #ffffff3c;
  text-align:center;
  letter-spacing: 100px;
  margin-left: 35px;
  
  
}

.idx-header2 p {
  font-size: 100px;
  color: #ffffff3c;
  text-align: center;
  letter-spacing: 100px;
  margin-left: 35px;
  
}


.idx-header{
  width: 100vw;
  height: 30vh;
  background-color: transparent;
}
.idx-header2{
  width: 100vw;
  height: 15vh;
  background-color: transparent;
}

#idx-header-div{
  width: 100%;
  height: 100%;
  background: transparent;
  position: sticky;
  top: 60px;

}

#idx-header-h1{
  color: #54b9f3;
  font-size: 24px;
  text-align: center;
  padding: 0px;

  border-radius: 10%;
  position: sticky;
  z-index: 4;

  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
  
  
}

#idx-introduction-h2{
  color: #555050;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 10%;
  position: sticky;
  width: 100%;
  z-index: -1;
}

#idx-introduction{
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border-radius: 10%;
  position: sticky;
  width: 100%;
  z-index: -1;
}
.flex-contain h1{
  text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
}

.flex-contain p{
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
  
}

/*article below*/
.idx-introduction-back{
  width: 80%;
  background-color: transparent;
  margin: 0 auto;
}

.flex-contain {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-content: space-around;
  background-color: none;
  justify-content: center;
  margin-top: 100px;
  
  
}

#idx-flex-first{
  background-color: none;
  width: 50vh;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  margin-left: 30px;
}
#idx-flex-first img{
  width: 50%;
  height: 50%;
  object-fit:fill;
  border-radius: 50%;
  float: left;
  border: 2px solid #ffffff;
}
#idx-flex-first h1{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  float: right;
  width: 50%;
  height: min-content;
}

#idx-flex-first p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  float: right;
  width:fit-content;
  height: 100%;
  width: 100%;
}

#idx-flex-second{
  background-color: none;
  width: 50vh;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  
  margin-left: 30px;
}
#idx-flex-second img{
  width: 50%;
  height: 50%;
  object-fit:fill;
  border-radius: 50%;
  float: left;
  border: 2px solid #ffffff;
}
#idx-flex-second h1{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  float: right;
  width: 50%;
  height: min-content;
}

#idx-flex-second p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  float: right;
  width:fit-content;
  height: 100%;
  width: 100%;
}

#idx-flex-third{
  background-color: none;
  width: 50vh;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  
  margin-left: 30px;
}
#idx-flex-third img{
  width: 50%;
  height: 50%;
  object-fit:fill;
  border-radius: 50%;
  float: left;
  border: 2px solid #ffffff;
}
#idx-flex-third h1{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  float: right;
  width: 50%;
  height: min-content;
}

#idx-flex-third p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  float: right;
  width:fit-content;
  height: 100%;
  width: 100%;
}

#idx-flex-forth{
  background-color: none;
  width: 50vh;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  
  margin-left: 30px;
}
#idx-flex-forth img{
  width: 50%;
  height: 50%;
  object-fit:fill;
  border-radius: 50%;
  float: left;
  border: 2px solid #ffffff;
}
#idx-flex-forth h1{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  float: right;
  width: 50%;
  height: min-content;
}

#idx-flex-forth p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  float: right;
  width:fit-content;
  height: 100%;
  width: 100%;
}


#idx-flex-fifth{
  background-color: none;
  width: 50vh;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  
  margin-left: 30px;
}
#idx-flex-fifth img{
  width: 49%;
  height: 48%;
  object-fit:fill;
  border-radius: 50%;
  float: left;
  border: 2px solid #ffffff;
}
#idx-flex-fifth h1{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  float: right;
  width: 50%;
  height: min-content;
}

#idx-flex-fifth p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  float: right;
  width:fit-content;
  height: auto;
  width: 100%;
}




.flex-contain div{
  background-color: none;
  width: 45%;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  
}

.flex-contain div img{
  width: 30%;
  height: 100%;
  object-fit:fill;
  border-radius: 5%;
  
  
}

.flex-contain div p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  float: right;
  width: 70%;
  height: 100%;

}
.idx-divider{
  display: none;
}



@media (max-width: 576px) {
  .flex-contain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    background-color: transparent;
    justify-content:center;

  }

  .flex-contain div {
    background-color: transparent;
    width: 90%;
    height: 300px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    
    
    
    
  }
  .idx-divider{
    display: block;
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 10px 0;

  }
}
/*article ends here*/

/*index page ends here*/



/*timeline page starts here*/

.tlh1{
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  margin-top: 20px;
  padding: 10px;
  position: sticky;
  top: 0;
  font-family: "Rubik", sans-serif;
}

.tl-flex-info{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  flex-direction: column; 
  align-content: flex-start; 
  justify-content: center;
  color: #ffffff;

}

.tl-flex-info div{
  background-color: transparent;
  width: auto;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
  overflow:visible;
  
  
  
}

.tl-flex-info div h2{
  color: #000;
  font-size: 30px;
  width:fit-content;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10%;
  border: 3px solid #54b9f3;
  font-family: "Micro 5 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  text-align: center;

   
  
  
}
.tl-flex-info div :hover{
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #54b9f3;
  transition: 0.1s;
  
}

.tl-flex-info div p{
  color: #ffffff;
  font-size: 14px;
  text-align:inherit;
  width: fit-content;
  padding: 10px;
  padding-left: 110px;
  border-radius: 10%;
  position: relative;
  font-family:"Raleway", sans-serif;
  
  
  }

  .tl-flex-info div::before {
    content: '';
    left: 47px;
    top: 0;
    bottom: 0;
    width: 4px;
    height:100%;
    background: linear-gradient(to bottom, #54b9f3 0%, #f4f6f9 100%);
    z-index: -3;
    position:fixed;
    
  
  }
  .tl-spacer{
    height: 70px;
    width: 100%;
    
  
  }
  


@media (max-width: 576px) {
  .tl-flex-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    background-color: transparent;
    justify-content:center;
    

  }

  .tl-flex-info div {
    background-color: transparent;
    width: 90%;
    height: 300px;
    margin: 10px;
    text-align: center;
    
    border-radius: 10px;
    color: aliceblue;
  }
  
}

/*timeline page ends here*/

/*award page starts here*/

.aw-section, .aw-article-div{
  display:inline-block;
  width: 100%;
  height: 100%;
}

.aw-spacer{
  height: 70px;
  width: 100%;
  background-color: transparent;

}

.aw-section img{
  width: 50%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  z-index: -1;
  border-radius: 2%;
}

.aw-section
{
  float: left;
  width: 70%;
  height: auto;
  background-color: transparent
}
.aw-section h1{
  text-align: center;
  font-size: 30px;
  color: #ffeb53;
  margin-top: 40px;
  padding: 9%;
  position: sticky;
  top: 0;
  float: left;
}

.aw-section p{
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.aw-article-div{
  float: right;
  width: 30%;
}


.aw-flex-container {
  
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-flex;
  transform: translateZ(0);
  position: static;
  
  }

  


.aw-flex-container div{
  background-color: transparent;
  width: 280px;
  height: 280px;
  margin: 10px;
  border-radius: 5px;
  overflow:visible;
  text-align: center;
  
  
}

.aw-flex-container div img{
  width: 70%;
  height: 70%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  z-index: -1;
}
.aw-flex-container div h2{
  color: #fafafa;
  font-size: 20px;

  
}
.aw-flex-container div p {
  color: #ffffff;
  
}

#aw-nav{
  padding: 5px 5%;
  display: flex;
  background: #000;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  overflow:visible;
  
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;

}

@media (max-width: 576px) {
  .aw-section h1{
    position: static;
    width: 100%;
    
  }
  .aw-spacer{
    display: none;
  
  }
  
  
  .aw-section {
    display: flex;
    flex-wrap: wrap;
    float: center;
    height: auto;
    background-color: transparent;
    width: 100%;
    text-align: center;

  }
  
  .aw-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: 5px;
    z-index: -1;
    padding: 5%;

    
  }
  

  .aw-article-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    background-color: transparent;
    justify-content:center;
    width: 100%;
  }

  .aw-flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    background-color: transparent;
    justify-content:center;
    width: 100%;

  }
}

/*award page ends here*/

/*Members page starts here*/

.mb-flex-container {

  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  width: 100%;
  align-content:space-around;
  justify-content: center;
  position:static;
  
  
}

.mb-flex-container article{
  background-color: transparent;
  width:  18%;
  height: 40%;
  margin: 7px;
  border-radius: 5px;
  overflow:visible; 
  
}
.mb-flex-container article h1{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background-color: #000000;
  border-radius: 10%;
  border: 3px solid #54b9f3;
}

.mb-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  z-index: -1;
}
.mb-article-p {
  display: hidden;
  color: transparent;
}

.mb-flex-container article img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  z-index: -1;
  border-radius: 50%;
}


.mb-flex-container article :hover{
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #54b9f3;
  transition: 0.1s;
}

@media(max-width: 576px){
  .mb-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    background-color: transparent;
    position: relative;
    width: 100%;
  }

  .mb-flex-container article {
    background-color: transparent;
    width: 60%;
    height: 300px;
    margin: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;

  }

  .mb-article article:hover {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #54b9f3;
    transition: 0.1s;
    z-index: 1;
    
  }


  
}

/*Members page ends here*/

/*idv member page starts here*/
.idv-whole-page{
  width: 90%;
  margin: auto;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  
  
}


.idv-section1{
  width: 15%;
  height: 100%;
  background-color: transparent;
  float: left;
  color: #ffffff;  
  border-bottom-right-radius: 5px;
  overflow: hidden;
  display: block;
  
  
}

.idv-section1 img{
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  z-index: -1;
  border-radius: 0%;
  
  
}

.idv-section2{
  width: 75%;
  height: 100%;
  background-color: transparent;
  color: #ffffff;
  margin-left: 5%; 
  margin-right: 5%;
  border-radius: 5px;
  float: right;
  display: block;
  
}
.idv-section2 h2{
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}

.idv-section2 p {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  
}

#idv-container-section2{
  display:flex;
  flex-wrap: wrap;
  height: 100%;
  width: auto;
  align-content:space-between;
  position:absolute;
  background-color: transparent;
  justify-content: center;
  float: right;
}

.idv-container-first{
 width: 40vh;
 height: max-content;
 background-color: transparent;
 margin: 4vh;
  
}


.idv-container-second{
  width: 40vh;
  height: max-content;
  background-color: transparent;
  margin: 4vh;
}

.idv-container-third{
  width: 40vh;
  height: max-content;
  background-color: transparent;
  margin: 4vh;
}

@media ( max-width: 576px){
  .idv-section1{
    width: 100%;
    height: auto;
    background-color: transparent;
    align-items: center;
    color: #ffffff;  
    border-bottom-right-radius: 5px;
    overflow: hidden;
    text-align: center;
    
  }
  .idv-container{
    height: max-content;
    width: 80%;
    background-color: transparent;
    margin: 0 auto;
  }

  .idv-container2{
    height: max-content;
    width: 80%;
    background-color: transparent;
    margin: 0 auto;
    
  
    
  }

  .idv-section1 img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    z-index: -1;
    border-radius: 0%;
    
    
    
  }

  .idv-section2{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    color: #ffffff;
    float : right;
    margin-left: 5%; 
    margin-right: 5%;
    border-radius: 5px;
    margin: 0 auto;
    display: inline;
    position: relative;
    margin-bottom: 120vh; 
    
    
  }
  .idv-section2 h2{
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
  }

  .idv-section2 p {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  #idv-container-section2{
    display:flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    align-content:space-between;
    
    background-color: transparent;
    justify-content: center;
  }

  .idv-container-first{
   width: 50vh;
   height: max-content;
   background-color: transparent;
   margin: 4vh;
   text-align: center;
    
  }

  .idv-container-second{
    width: 50vh;
    height: max-content;
    background-color: transparent;
    margin: 4vh;
    text-align: center;
     
   }

   .idv-container-third{
    width: 50vh;
    height: max-content;
    background-color: transparent;
    margin: 4vh;
    text-align: center;
     
   }


}

/*idv member page ends here*/

/*album page starts here*/

.al-header h1{
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  margin-top: 20px;
  
  position: sticky;
  top: 0;
  font-family: "Rubik", sans-serif;
}

.al-first-content{
  width: 100%;
  height: 100%;
  background-color: transparent;
  float: left;
  color: #ffffff;  
  border-bottom-right-radius: 5px;
  overflow: hidden;
  text-align: center;
  
}

.al-first-content p{
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin-left: 20%;
  width: 60%;
  float: center;
}

.al-p-unify p{
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin-left: 20%;
  width: 60%;
  float: center;
}

.al-p-unify h2{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-left: 20%;
  width: 60%;
  float: center;
  margin-right: 30%;
}


.al-first-content iframe{
  object-fit: cover;
  display: block;
  margin: 20px auto;
  margin-left : 10px;
  z-index: -1;
  border-radius: 0%;
  float: left;
  
}




.al-flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  align-content:space-evenly;
  justify-content: center;
  
}



.al-flex-container div{
  background-color: transparent;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  overflow:visible;
  text-align: center;
  
  
  
}
.al-flex-container div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  z-index: -1;
  border-radius: 5px;
}

.al-flex-container div img:hover{
  border: 3px solid #54b9f3;
  width: 110%;
  height: 110%;
  transition: 0.1s;
}


.al-iframe{
  width: 50%;
  height: 31.7pc;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  z-index: -1;
  border-radius: 0%;
  float: left;
 
}

.al-iframe iframe{
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 80%;
  margin: 10%;

}



.al-table { 
  font-family: 'Space Mono', monospace; 
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5px;
  margin: 15px auto;
  border: 1px solid #eee;
  align-items: center;
  position: relative;
  
}
.alternating-colors ol { padding-left: 30px; }
.alternating-colors li { 
  color: #ffffff; 
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  

  &:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute;
    top: -12px;
    left: -46px;
  }
}


ol.alternating-colors { 
  li:nth-child(odd):before { border-color: #0BAD02; }
  li:nth-child(even):before { border-color: #2378D5; }
}

@media (max-width: 576px){
  .al-first-content{
    width: 100%;
    height: 100%;
    background-color: transparent;
    float: left;
    color: #ffffff;  
    border-bottom-right-radius: 5px;
    overflow: hidden;
    text-align: center;
  }

  .al-first-content p{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin-left: 20%;
    width: 60%;
    float: center;
  }

  .al-first-content iframe{
    object-fit: cover;
    display: block;
    margin: 20px auto;
    margin-left : 10px;
    z-index: -1;
    border-radius: 0%;
    float: left;
    
  }

  .al-flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-content:space-between;
    justify-content: center;
    position:relative;
  }

  .al-flex-container div{
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    overflow:visible;
    text-align: center;
  }

  .al-iframe{
    width: 100%;
    height: 31.7pc;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    z-index: -1;
    border-radius: 0%;
    float: left;
    
    position: relative;
  }

  .al-iframe iframe{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 80%;
    margin: 10%;
  }

  .al-table { 
    font-family: 'Space Mono', monospace; 
    display: flex; 
    flex-direction: column;
    width: 90%;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid #eee;
    align-items: center;
    position: relative;
  }
  .alternating-colors ol { padding-left: 30px; }
  .alternating-colors li { 
    color: #4F4F4F; 
    padding-left: 16px;
    margin-top: 24px;

}

}
footer{
  margin-top: auto;
}



.footer-content{
  background-color: black;
  height: min-content;
  width: 100%;
  height: 80px;
  position: absolute;
  margin-top: 80px;
  
}

.footer-content-nochanged{
  background-color: black;
  height: min-content;
  width: 100%;
  height: 80px;
  position: absolute;
  margin-top: 0px;
}


.footer-section-links ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: aliceblue;
  
}


.footer-section-links ul li{
  margin-left: 3rem;
  text-decoration: none;
  margin-right: 90px;
  margin-top: 25px;

}
.footer-section-links ul img{
  width: 70px;
  height: 30px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  z-index: -1;
  border-radius: 0%;
  float: left;
  
}


.footer-section-links ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 50%;
  font-weight: 400;
  border-radius: 5px;
}
.footer-content-mobile{
  display:none;
  height: 0px;
}

@media (max-width : 576px){
  .footer-content{
    display: none;
  }
  .footer-content-mobile{
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #ffffff;  
    overflow:visible;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

  }
 
  
  .footer-section-links-mobile ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 100%;
    font-weight: 400;
  
    

    
  }
  .footer-section-links-mobile ul li{
    margin-left: 0;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
  }
  #idx-ul1{
    width: 25%;
    float: left;
  }

  #idx-ul2{
    width: 25%;
    float: right;
  }

}


  


